main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Para esticar os itens verticalmente */
    align-items: center;
    justify-content: center;
    height: 100%;
}
section {
    width: 100%;
    height: 100%; 
    display: row;
    flex-direction: column;
    align-items: flex-start;


}
.section-form{
    width: 70%;
    flex-grow: 1;
    padding-left: 0;

}

.side-bar{
    flex-grow: 0.2;
    height: 100%;
    padding-right: 0;
}

.form-deposito{
    height: 25%;
    width: 100%;
    padding-left: 0px;
    font-style: bold;
    position: relative;
}

input{
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
}
.div-wrapper{
    height: 50px;
}
.div-wrapper2{
    height: 25px;
}

.form-group{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    width: 500px;

    label {
        margin-bottom: 5px;
        font-size: 25px;
        font-family: 'Montserrat';
        font-weight: 300;
      }


}

